<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to TextUtills </title>

    </head>

    <body bgcolor="powderblue">
   <h1 align='center'>  Welcome to text Analyzer. </h1>  
   <h2 align='center'> Enter your text bellow </h2>
   <form action="/analyze" , method="get" align='center'>
       <textarea name="text"  style="margin: 0px; width: 789px; height: 187px;"></textarea><br>
      <h2>  <input type="checkbox" name="removepunc"> Remove Punctuations<br>
        <input type="checkbox" name="fullcaps"> UPPERCASE <br>
        <input type="checkbox" name="newlineremover"> New Line Remover<br>
        <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
        <input type="checkbox" name="countChar"> Count Character<br>
      </h2>



<h1>
       <button type="submit" style="font: bold 35px Arial;">Analyze text</button>
    </h1>
   </form>
         
   
     
    </body>
</html>